meta(property='og:locale' content='en_US')
meta(property='og:site_name' content=`${title}`)
meta(property='og:title' content=`${description}`)
meta(property='og:type' content=`${openGraphType}`)
meta(property='og:url' content=`${openGraphLink}`)
meta(property='og:image' content=`${openGraphImg}`)
meta(property='og:description' content=`${openGraphDescription}`)