extends layout
block content
  include nav
  main.container-fluid.maxed.pt-5.mt-5
    section.row
      include advanceShare
      div.textAlignCenter.textAlignLeft
        include logo
      h2.f2.mM.w1.pb-2.textAlignLeft Solution /
      menu.col-2.col-md-3
        item.solutionsPage.m-0.p-0
          include solutionList
      article.col-10.col-md-9.p-md-5.sH.sC.sticky.topTop
        div.landingStinger.py-3.mt-0.ps-5.ms-5.textAlignRight.f2.flex.flexAlignCenter.dwarf #{directions[3]}
          span(style='width:1.3em;').index.sM.p-3.m-0.darkBlue.tW.f4.sC.ms-3 4
        include details
        div(id=`${ingredient}`).landingDetails
          h2.bM.caps #{ingredients[3]}
          p.dwarf.lH3 #{detailedInstructions[3]}
          p.beam.f2.sM.lH3.mt-5.p-4.ps-5 #{results[3]}
          aside.w1.textAlignRight.mb-1.py-5
            a(href=`/${ingredients[4]}`).tB.outlined.noHover.wB Next→
          aside.w1.textAlignRight.pb-5
              a(href=`/${ingredients[2]}`).tB Previous 
                  i.fa-solid.fa-circle-chevron-left.dwarf.tB
              a(href=`https://scxn-blog.tumblr.com/tagged/${ingredients[3]}`).tB <br>More on this topic 
                  i.fa-solid.fa-square-rss.dwarf.tB
          aside.textAlignRight.w1.mb-4
            h2.sM Share "Semantic", Solution 4:
            -let thisURL=`https://www.scxn.io/${ingredients[3]}`;
            -let thisTopic=`%E2%9D%9D${ingredients[3]}%E2%9D%9E%0A${description}%0A%22${directions[3]}%E2%80%A5%22%0A%0A`;
            -let shareIntro=`%40SCXN%20put%20together%20a%20list%20of%207%20elements%20that%20make%20the%20perfect%20website.%0AHere%27s%20a%20snippet%E2%80%94%0A%0A`;
            include shareLanding
        div#share
        p.fyiCase.tB.outlinedImportant.dwarf.w1 #{fyi[3]}
          aside.publicKeys.fyiReferenceCase.diminutive.footnote.lH2 #{fyiReference[3]}
  each f, index in fyi   
    .hide.fs=f
    .hide.frs=fyiReference[index]
  include footer
  include ultimate