-let thisURL=`${newsLinks[0]}`;
-let thisTopic=`%E2%9D%9D${description}%E2%9D%9E%0A`;
-let shareIntro=`Check%20this%20out%20from%20%40SCXN%E2%80%94%0A`;

a(target='_BLANK' href=`https://telegram.me/share/url?url=${thisURL}`)#shareTelegram.shareTo
    img(alt='Share to Telegram' src='/images/telegram.png')#telegramShare.shareIcons
a(target='_BLANK' href=`https://www.tumblr.com/widgets/share/tool?canonicalUrl=${thisURL}`)#shareTumblr.shareTo
    img(alt='Share to share to Tumblr' src='/images/tumblr.png')#tumblrShare.shareIcons
a(target='_BLANK' href=`https://www.snapchat.com/scan?attachmentUrl=${thisURL}`)#shareSnapchat.shareTo
    img(alt='Share to Snapchat' src='/images/snapchat.png')#snapchatShare.shareIcons
a(target='_BLANK' href=`http://pinterest.com/pin/create/button/?url=${thisURL}`)#sharePinterest.shareTo
    img(alt='Share to Pinterest' src='/images/pinterest.png')#pinterestShare.shareIcons
a(target='_BLANK' href=`https://news.ycombinator.com/submitlink?u=${thisURL}`)#shareHackerNews.shareTo
    img(alt='Share to Hacker News' src='/images/hackerNews.png')#hackerNewsShare.shareIcons
a(target='_BLANK' href=`https://gab.com/compose?text=${shareIntro}%0A${thisTopic}Read%20on%3A%20&url=${thisURL}%0A%0AThe%20latest%20news%20always%20at%20SCXN.io%2FNews`)#shareGab.shareTo
    img(alt='Share to Gab' src='/images/gab.png')#gabShare.shareIcons
a(target='_BLANK' href=`https://www.facebook.com/sharer/sharer.php?u=${thisURL}`)#shareFacebook.shareTo
    img(alt='Share to Facebook' src='/images/facebook.png')#facebookShare.shareIcons
a(target='_BLANK' href=`mailto:?subject=Check%20this%20out%21%20%E2%80%94%20News%20from%20SCXN&body=${shareIntro}%0A${thisTopic}Read%20on%3A%20${thisURL}%0A%0AThe%20latest%20news%20always%20at%20SCXN.io%2FNews`)#shareEmail.shareTo
    img(alt='Share to Email' src='/images/email.png')#emailShare.shareIcons
a(target='_BLANK' href=`https://www.blogger.com/blog_this.pyra?t=&u=${thisURL}`)#shareBlogger.shareTo
    img(alt='Share to Blogger' src='/images/blogger.png')#bloggerShare.shareIcons
a(target='_BLANK' href=`https://twitter.com/intent/tweet?url=${thisURL}`)#shareTwitter.shareTo
    img(alt='Share to Twitter' src='/images/twitter.png')#twitterShare.shareIcons
